# For ES 点坐标生成文件.xlsx 缓存文件
~$*.xlsx

# For Generate SCT
rwy.txt
NDB.txt
VOR.txt
AD.txt
FIX.txt
RTE.txt
*ES.txt

# For Generate ICAO_Series_Files
ICAO_Airports.txt
icao.txt
ICAO_Airlines.txt

# VSCode Settings
.vscode/settings.json

# For Generate MTEPlugin Files
Route.csv
Generate MTEPlugin Files/Route Generator
FLIGHT_AIRLINE_EVENODD.csv
FLIGHT_AIRLINE_POINT.csv
Extractor.py
Generate MTEPlugin Files/Generate Route - Include_EvenOdd_Calculate.py
